{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row ">    
    <div class=" col-md-3 "></div>
    <div class=" col-md-3 ">
    <div class="container">
  <div class="row">


    {%if current_user.is_admin%} 
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-12 text-right">
              <div class="huge">User Confirmations</div>
              <div class="huge"></div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('home_page') }}">
          <div class="panel-footer">
            <span class="pull-left"><a href="{{url_for('confirm_page')}}">Sayfaya Gidin</a></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>


    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-12 text-right">
              <div class="huge">Transactions</div>
              <div class="huge"></div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('home_page') }}">
          <div class="panel-footer">
            <span class="pull-left"><a href="{{url_for('all_tr')}}">Sayfaya Gidin</a></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>


    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-12 text-right">
              <div class="huge">Make Transaction as Admin</div>
              <div class="huge"></div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('home_page') }}">
          <div class="panel-footer">
            <span class="pull-left"><a href="{{url_for('tr_admin')}}">Sayfaya Gidin</a></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    {%else%}

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-12 text-right">
              <div class="huge">Transaction History</div>
              <div class="huge"></div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('home_page') }}">
          <div class="panel-footer">
            <span class="pull-left"><a href="{{url_for('member_views')}}">Sayfaya Git</a></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>


    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-12 text-right">
              <div class="huge">Make Debt</div>
              <div class="huge"></div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('home_page') }}">
          <div class="panel-footer">
            <span class="pull-left"><a href="{{url_for('make_debt')}}">Sayfaya Git</a></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-12 text-right">
              <div class="huge">Payement</div>
              <div class="huge"></div>
            </div>
          </div>
        </div>
        <a href="{{ url_for('home_page') }}">
          <div class="panel-footer">
            <span class="pull-left"><a href="{{url_for('payment_member')}}">Sayfaya Git</a></span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    {%endif%}
  </div>
</div>
</div>
</div>
</div>
{% endblock %}