<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}{% endblock %} - MoneyTrade</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}"/>

    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index_page') }}">Money Trade Tracking</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>


            <ul class="nav navbar-nav navbar-right">
              {% if not current_user.is_authenticated %}
              <li><a href="{{ url_for('signin_page') }}">Login</a></li>
              <li><a href="{{ url_for('signup_page') }}">Sign Up</a></li>
              {% elif current_user.is_admin %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Panel<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('edit_address') }}">Edit Address</a></li>
                  <li><a href="{{ url_for('member_edit') }}">Profil Güncelle</a></li>
                  <li><a href="{{ url_for('remove_address') }}">Remove Address</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('logout_page') }}">Log out</a></li>
              {% else %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;">{{ current_user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{{ url_for('member_edit') }}">Profil Güncelle</a></li>
                </ul>
              </li><li><a href="{{ url_for('logout_page') }}">Log out</a></li>
              {% endif %}
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    

    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="container">
        <small class="text-muted">&copy; MoneyTrade / Zubeyir Genç, 2021</small>
      </div>
    </footer>

  </body>
</html>